#doclist{
    float: left;
    width: 230.6px;
    height: 100%;
    
}

#editor{
    padding-left: 230.6px;
    width: 100%;
    height: 100%;
}

#contentop{
    height: 50px;
    width: 100%;
    background-color: darkviolet;
}

#button{
    position: absolute;
    bottom: 20px;
    left: 25px;
    text-align: center;
}

#content{
    height: 100%;
    width: 100%;
    background-color: beige;
}

#root{
    height: 100%;
}

body, html {
    height: 100%
}